mat-toolbar {
  min-height: 64px;
  max-height: 64px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .toolbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 0 20px;

    &:first-child {
      justify-content: flex-start;
      align-items: stretch;
      padding: 0;

      #homeSection {
        display: flex;
        align-items: center;
        cursor: pointer;
        -webkit-box-shadow: 0 0 0 !important;
        -moz-box-shadow: 0 0 0 !important;
        box-shadow: 0 0 0 !important;
        background: transparent;
        color: inherit;
        padding: 0 15px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        &:hover {
          background-color: rgba(255, 255, 255, 0.08);
        }

        &:focus {
          outline-color: transparent;
        }
      }
    }

    &:last-child {
      justify-content: flex-end;
      padding: 0;
    }

    .details-view {
      display: flex;
      flex-direction: column;
      align-items: center;

      .loading-headline {
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mat-progress-spinner circle, .mat-spinner circle {
          stroke: #ffffff;
        }
      }
    }

    #userDataContainer {
      display: flex;
      align-items: center;

      img {
        margin-right: 8px;
      }

      span {
        max-width: 150px;
        margin-right: 8px;
      }
    }
  }

  .mat-headline,
  .mat-title {
    margin: 0;
  }
}
