<div id="settingsContainer">
  <div class="column">
    <div class="setting-group">
      <h1 class="mat-headline">General</h1>

      <div class="setting-container">

        <mat-card class="setting" matRipple (click)="setting01.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me</h3>
            </div>
            <mat-checkbox #setting01></mat-checkbox>
          </div>
          <div class="setting-body">

          </div>
        </mat-card>

        <mat-card class="setting" matRipple (click)="setting02.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me too</h3>
            </div>
            <mat-slide-toggle #setting02></mat-slide-toggle>
          </div>
          <div class="setting-body mat-caption">
            I swear if you activate me it's gonna be lit.
          </div>
        </mat-card>

      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="setting-group">
      <h1 class="mat-headline">Your Plan</h1>

      <div class="setting-container">

        <mat-card class="setting" matRipple (click)="setting03.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me</h3>
            </div>
            <mat-checkbox #setting03></mat-checkbox>
          </div>
          <div class="setting-body">

          </div>
        </mat-card>

        <mat-card class="setting" matRipple (click)="setting04.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me too</h3>
            </div>
            <mat-slide-toggle #setting04></mat-slide-toggle>
          </div>
          <div class="setting-body mat-caption">
            I swear if you activate me it's gonna be lit.
          </div>
        </mat-card>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="setting-group">
      <h1 class="mat-headline">Keine Ahnung</h1>

      <div class="setting-container">

        <mat-card class="setting" matRipple (click)="setting05.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me</h3>
            </div>
            <mat-checkbox #setting05></mat-checkbox>
          </div>
          <div class="setting-body">

          </div>
        </mat-card>

        <mat-card class="setting" matRipple (click)="setting06.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me too</h3>
            </div>
            <mat-slide-toggle #setting06></mat-slide-toggle>
          </div>
          <div class="setting-body mat-caption">
            I swear if you activate me it's gonna be lit.
          </div>
        </mat-card>

      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="setting-group">
      <h1 class="mat-headline">Danger Area</h1>

      <div class="setting-container">

        <mat-card class="setting" matRipple (click)="setting07.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me</h3>
            </div>
            <mat-checkbox #setting07></mat-checkbox>
          </div>
          <div class="setting-body">

          </div>
        </mat-card>

        <mat-card class="setting" matRipple (click)="setting08.toggle()">
          <div class="setting-header">
            <div>
              <h3 class="mat-subheading-2">Change me too</h3>
            </div>
            <mat-slide-toggle #setting08></mat-slide-toggle>
          </div>
          <div class="setting-body mat-caption">
            I swear if you activate me it's gonna be lit.
          </div>
        </mat-card>

      </div>
    </div>
  </div>
</div>
