@import '~@angular/material/theming';
@import "../custom-dark-colors";

a.hyperlink {
  color: map-get($mat-cyan, A700);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

