<mat-toolbar>Toolbar</mat-toolbar>

<div class="container">
  <h2>Theme</h2>

  <div class="module-container">

    <div class="module">
      <div class="color-tag dark" style="background-color: #eef0f2;">
        <div class="details">
          <span class="shade">Background 50</span>
          <span class="hex">#eef0f2</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #d3dadf;">
        <div class="details">
          <span class="shade">100</span>
          <span class="hex">#d3dadf</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #b7c2ca;">
        <div class="details">
          <span class="shade">200</span>
          <span class="hex">#b7c2ca</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #99aab5;">
        <div class="details">
          <span class="shade">300</span>
          <span class="hex">#99aab5</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #8297a4;">
        <div class="details">
          <span class="shade">400</span>
          <span class="hex">#8297a4</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #76808A;">
        <div class="details">
          <span class="shade">500</span>
          <span class="hex">#76808A</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #5d636a;">
        <div class="details">
          <span class="shade">600</span>
          <span class="hex">#5d636a</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #3e444a;">
        <div class="details">
          <span class="shade">700</span>
          <span class="hex">#3e444a</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #2C2F33;">
        <div class="details">
          <span class="shade">800</span>
          <span class="hex">#2C2F33</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #23272A;">
        <div class="details">
          <span class="shade">900</span>
          <span class="hex">#23272A</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #ffffff;">
        <div class="details">
          <span class="shade">A100</span>
          <span class="hex">#ffffff</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #C1CCD4;">
        <div class="details">
          <span class="shade">A200</span>
          <span class="hex">#C1CCD4</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #30373D;">
        <div class="details">
          <span class="shade">A400</span>
          <span class="hex">#30373D</span>
        </div>
      </div>
      <div class="color-tag light" style="background-color: #0F1316;">
        <div class="details">
          <span class="shade">A700</span>
          <span class="hex">#0F1316</span>
        </div>
      </div>
    </div>

    <div class="module">
      <div class="color-tag dark" style="background-color: #FFFDE7;">
        <div class="details">
          <span class="shade">Primary 50</span>
          <span class="hex">#FFFDE7</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFF9C4;">
        <div class="details">
          <span class="shade">100</span>
          <span class="hex">#FFF9C4</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFF59D;">
        <div class="details">
          <span class="shade">200</span>
          <span class="hex">#FFF59D</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFF176;">
        <div class="details">
          <span class="shade">300</span>
          <span class="hex">#FFF176</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFEE58;">
        <div class="details">
          <span class="shade">400</span>
          <span class="hex">#FFEE58</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFEB3B;">
        <div class="details">
          <span class="shade">500</span>
          <span class="hex">#FFEB3B</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FDD835;">
        <div class="details">
          <span class="shade">600</span>
          <span class="hex">#FDD835</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FBC02D;">
        <div class="details">
          <span class="shade">700</span>
          <span class="hex">#FBC02D</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #F9A825;">
        <div class="details">
          <span class="shade">800</span>
          <span class="hex">#F9A825</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #F57F17;">
        <div class="details">
          <span class="shade">900</span>
          <span class="hex">#F57F17</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFFF8D;">
        <div class="details">
          <span class="shade">A100</span>
          <span class="hex">#FFFF8D</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFFF00;">
        <div class="details">
          <span class="shade">A200</span>
          <span class="hex">#FFFF00</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFEA00;">
        <div class="details">
          <span class="shade">A400</span>
          <span class="hex">#FFEA00</span>
        </div>
      </div>
      <div class="color-tag dark" style="background-color: #FFD600;">
        <div class="details">
          <span class="shade">A700</span>
          <span class="hex">#FFD600</span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h2>Buttons</h2>

  <div class="button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </div>

  <div class="button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>

  <div class="button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button routerLink=".">Link</a>
  </div>

  <div class="button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button routerLink=".">Link</a>
  </div>

  <div class="button-row">
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>

  <div class="button-row">
    <button mat-fab>Basic</button>
    <button mat-fab color="primary">Primary</button>
    <button mat-fab color="accent">Accent</button>
    <button mat-fab color="warn">Warn</button>
    <button mat-fab disabled>Disabled</button>
    <button mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <a mat-fab routerLink=".">Link</a>
  </div>

  <div class="button-row">
    <button mat-mini-fab>Basic</button>
    <button mat-mini-fab color="primary">Primary</button>
    <button mat-mini-fab color="accent">Accent</button>
    <button mat-mini-fab color="warn">Warn</button>
    <button mat-mini-fab disabled>Disabled</button>
    <button mat-mini-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <a mat-mini-fab routerLink=".">Link</a>
  </div>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
    <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
  </mat-button-toggle-group>

</div>

<div class="container">
  <h2>Chips</h2>

  <mat-chip-list>
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list>
</div>

<div class="container">
  <h2>Progress</h2>

  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  <mat-spinner></mat-spinner>
</div>

<div class="container">
  <h2>Card</h2>

  <mat-card class="example-card mat-elevation-z12">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">LIKE</button>
      <button mat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
