@import "app/theme/astro-theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .layout-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      & {
        max-width: 540px;
      }
    }

    @media (min-width: 768px) {
      & {
        max-width: 720px;
      }
    }

    @media (min-width: 992px) {
      & {
        max-width: 960px;
      }
    }

    @media (min-width: 1200px) {
      & {
        max-width: 1140px;
      }
    }
  }

  .wrap-text {
    white-space: normal;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}
