<div class="layout-container">
  <div>
    <div class="headline" id="commandHeadline">
      <div>
        <h1 class="mat-display-1">Commands</h1>
        <mat-form-field id="searchCommands" floatLabel="never">
          <mat-chip-list #eventChipList>
            <mat-chip
              *ngFor="let event of events"
              [removable]
              (removed)="remove(event)">
              {{event}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Filter commands..."
              #filterInput
              [formControl]="filterCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="eventChipList"
            >
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-optgroup label="Special Events">
              <mat-option *ngFor="let event of filteredEvents | async" [value]="event">
                {{event}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
          <button mat-button *ngIf="filterInput.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="clearTextFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button id="newCommandButton" mat-button color="primary" (click)="newCommand()">
          <mat-icon>add</mat-icon>
          <span>New Command</span>
        </button>
      </div>
    </div>
    <div id="commandContainer">
      <mat-card *ngFor="let command of filteredCommands | async" mat-ripple class="command-card mat-elevation-z4"
                (click)="showCommand(command)">
        <mat-card-content>
          <h2 class="mat-title truncate-text">{{command}}</h2>
          <div class="mat-body-2">Last edited:</div>
          <div class="mat-body-1">07.09.18 by atalantus</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <div class="headline">
      <h1 class="mat-display-1">Settings</h1>
    </div>
    <div class="content">
      <app-project-settings></app-project-settings>
    </div>
  </div>
  <div>
    <div class="headline">
      <h1 class="mat-display-1">Analytics</h1>
    </div>
    <div class="content">

    </div>
  </div>
  <div>
    <div class="headline">
      <h1 class="mat-display-1">Version Control</h1>
    </div>
    <div class="content">

    </div>
  </div>
</div>
