:host {
  flex: 1 1 auto;
  display: flex;
  align-content: stretch;
}

div.layout-container {
  margin-top: 50px;
  margin-bottom: 50px;

  h1 {
    margin-bottom: 48px;
  }

  #spinnerContainer {
    display: flex;
    justify-content: center;

    mat-spinner {
      margin-top: 50px;
    }
  }

  #guildsContainer {
    display: flex;
    flex-wrap: wrap;

    .guild-card {
      min-width: 200px;
      width: 200px;
      max-width: 200px;
      text-align: center;
      padding: 15px;
      margin-left: 12px;
      margin-right: 12px;
      margin-bottom: 25px;
      -webkit-transition: box-shadow 0.2s ease-out;
      -moz-transition: box-shadow 0.2s ease-out;
      -ms-transition: box-shadow 0.2s ease-out;
      -o-transition: box-shadow 0.2s ease-out;
      transition: box-shadow 0.2s ease-out;

      mat-card-content {
        margin-top: 8px;
        margin-bottom: 0;
      }

      &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
