<div class="layout-container">
  <h1 class="mat-display-1">Your Guilds</h1>

  <div id="spinnerContainer" *ngIf="isLoadingGuilds">
    <mat-spinner color="accent" [strokeWidth]="6"></mat-spinner>
  </div>

  <div id="guildsContainer">
    <mat-card *ngFor="let guild of guilds" mat-ripple class="guild-card mat-elevation-z4"
              (click)="showGuild(guild)">
      <img width="50" alt="Guild Logo" class="round"
           src="{{guild.iconURL}}"
           onerror="this.onerror=null;this.src = '../assets/question-mark-placeholder.png';">
      <mat-card-content>
        <h2 class="mat-title truncate-text">{{guild.name}}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>
